<div>
  <h1>This is homepage</h1>
  <p>#root</p>
</div>

<div>
  <%= link_to "Clients!", clients_path, class: "buttons", id: "clients_button" %>
  <%= link_to "Appointments!", appointments_path, class: "buttons", id: "clients_button" %>
</div>
