<div>
  <h1>This is clients page</h1>
  <p>clients#index</p>
  <%= link_to "Homepage", root_path %>
</div>

<%= link_to "New clients!", new_client_path %>

<% @clients.each do |clients| %>
  <%= link_to "#{clients.name}", clients%>
<% end %>
