<div>
  <h1>This is appointments page</h1>
  <p>appointments#index</p>
  <%= link_to "Homepage", root_path %>
</div>

<div>
  <%= link_to "New appointments!", new_appointment_path %>
</div>

<% @appointments.each do |appointment| %>
  <div>
    <%= link_to "#{appointment.present}", appointment%>
  </div>
<% end %>
