<p>Do you want to delete <%= @appointment.present%> appointment for <%= @client.name%>?</p>
<%= link_to "yes", modify_appointment_client_appointment_path(@client, @appointment) %>
<%= link_to "no", client_path(@client)%>
